*{
    margin: 0;
    padding: 0;
}
.main{
    background-color: #becfc0;
}
.form{
    margin: auto;
}
.row{
    background-color: white;
}
.my-fs{
    font-size: 12px;
}
.my-fs1{
    font-size: 14px;
}
.my-min-high{
    min-height: 100vh;
}
.my-btn-bg-remove{
    border: none;
    background:transparent;
}
.my-btn-bg-remove:hover{
    opacity: 0.6;
}
.my-cutomise-a{
    text-decoration: none;
    color: #338853;
}
.my-check-hover:hover{
    cursor: pointer;
}
.errMes{
    height: 20px;
    color: red;
    font-size: 10px;
}