.main{
    background-color: rgb(196, 196, 196);
}
.my-card-img{
    margin: 15px auto 8px auto;
}
.card{
    transition: transform .2s ease-out;
}
.card:hover{
    transform: translate(0, -8px);
}
.card-title{
    color: white;
}
.card-title:hover{
    cursor: pointer;
    color: green;
}
.my-text-orange{
    color: green;
}